body {
  background-color: #3633FF;
  font-family: Arial;
  color: ghostwhite;
  height: 100vh;
}

a:visited {
  color: #FFFFFF
}

.img-logo {
  width: 800px;
  max-width: 100%;
}

.img-1 {
  max-width: 60%;
}

#button-1 {
  padding: 10px 25px;
  border-radius: 15px;
  border: 0px;
  background: #FF9C33;
  color: #FFFFFF;
}