body {
  background-color: #3317eaf0;
  font-family: Arial;
  color: ghostwhite;
}

.header {
  display: flex;
  align-items: center;
}

.task-1 {
  flex-grow: 50;
}

.task-2 {
  flex: 3;
  padding-right: 15px;
}

.task-3 {
  margin-right: 100px;
}

.button-1 {
  padding: 10px 25px;
  border-radius: 20px;
  border: 0px;
  background: #FF9C33;
  color: #FFFFFF;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.main {
  flex: 0 0 400px;
  margin-left: px;
}

.main-img {
  flex: 0 0 900px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-2 {
  flex: 0 0 400px;
  margin-top: 25px;
  margin-right: 100px;
}

.img-3 {
  flex: 0 0 300px;
  margin-top: 200px;
  margin-bottom: 130px;
  margin-right: 150px;
}

.img-3-self {
  margin-bottom: 60px;
}


.button-2 {
  padding: 15px 25px;
  border-radius: 20px;
  border: 0px;
  background: #FF9C33;
  color: #FFFFFF;
  margin-top: 20px;
  margin-left: 20px
}

a { 
  color: ghostwhite;
  text-decoration: none;
}

.img-1 {
  display: flex;
  max-width: 100%;
}

.mid {
  text-align: center;
  margin-top: 150px;
}

.bold {
  font-weight: bold;
  text-decoration: underline;
}

h1 {
  font-size: 40px;
  margin: 0px;
}

.content-h2 {
  margin: 0px;
  font-weight: normal;
  font-size: 30px;
}

.content-p {
  color: rgb(176, 176, 176);
}

.font-1 {
  font-size: 20px;
}